{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {epc, "0.1.0"},
          [% [epc_mme,
          %  epc_mme_distr_app,
          %  epc_sgw,
           sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.
{shell,[{apps,
            [epc_sgw,
             epc_mme,
             epc_mme_distr]}%[epc_mme,epc_sgw

       ]
}.
{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
